<p id="notice"><%= notice %></p>

<h1>Listing Users Lecons</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Lecon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_lecons.each do |users_lecon| %>
      <tr>
        <td><%= users_lecon.user_id %></td>
        <td><%= users_lecon.lecon_id %></td>
        <td><%= link_to 'Show', users_lecon %></td>
        <td><%= link_to 'Edit', edit_users_lecon_path(users_lecon) %></td>
        <td><%= link_to 'Destroy', users_lecon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users lecon', new_users_lecon_path %>
