<p id="notice"><%= notice %></p>

<h1>Listing Eleve Lecons</h1>

<table>
  <thead>
    <tr>
      <th>Eleveid</th>
      <th>Leconid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eleve_lecons.each do |eleve_lecon| %>
      <tr>
        <td><%= eleve_lecon.eleveId %></td>
        <td><%= eleve_lecon.leconId %></td>
        <td><%= link_to 'Show', eleve_lecon %></td>
        <td><%= link_to 'Edit', edit_eleve_lecon_path(eleve_lecon) %></td>
        <td><%= link_to 'Destroy', eleve_lecon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eleve lecon', new_eleve_lecon_path %>
