<p id="notice"><%= notice %></p>

<p>
  <strong>Eleveid:</strong>
  <%= @eleve_lecon.eleveId %>
</p>

<p>
  <strong>Leconid:</strong>
  <%= @eleve_lecon.leconId %>
</p>

<%= link_to 'Edit', edit_eleve_lecon_path(@eleve_lecon) %> |
<%= link_to 'Back', eleve_lecons_path %>
