<p id="notice"><%= notice %></p>

<p>
  <strong>Examenid:</strong>
  <%= @eleve_examan.examenId %>
</p>

<p>
  <strong>Eleveid:</strong>
  <%= @eleve_examan.eleveId %>
</p>

<p>
  <strong>Passer:</strong>
  <%= @eleve_examan.passer %>
</p>

<p>
  <strong>Score:</strong>
  <%= @eleve_examan.score %>
</p>

<%= link_to 'Edit', edit_eleve_examan_path(@eleve_examan) %> |
<%= link_to 'Back', eleve_examen_path %>
