<p id="notice"><%= notice %></p>

<h1>Listing Lecon Conduites</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Heure</th>
      <th>User</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecon_conduites.each do |lecon_conduite| %>
      <tr>
        <td><%= lecon_conduite.id %></td>
        <td><%= lecon_conduite.date %></td>
        <td><%= lecon_conduite.heure %></td>
        <td><%= lecon_conduite.user_id %></td>
        <td><%= lecon_conduite.user_id %></td>
        <td><%= link_to 'Show', lecon_conduite %></td>
        <td><%= link_to 'Edit', edit_lecon_conduite_path(lecon_conduite) %></td>
        <td><%= link_to 'Destroy', lecon_conduite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecon conduite', new_lecon_conduite_path %>
