<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @lecon_conduite.id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lecon_conduite.date %>
</p>

<p>
  <strong>Heure:</strong>
  <%= @lecon_conduite.heure %>
</p>

<p>
  <strong>User:</strong>
  <%= @lecon_conduite.user_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @lecon_conduite.user_id %>
</p>

<%= link_to 'Edit', edit_lecon_conduite_path(@lecon_conduite) %> |
<%= link_to 'Back', lecon_conduites_path %>
