<p id="notice"><%= notice %></p>

<h1>Listing Lecons</h1>

<table>
  <thead>
    <tr>
      <th>Lecons type</th>
      <th>Date</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecons.each do |lecon| %>
      <tr>
        <td><%= lecon.lecons_type_id %></td>
        <td><%= lecon.date %></td>
        <td><%= lecon.time %></td>
        <td><%= link_to 'Show', lecon %></td>
        <td><%= link_to 'Edit', edit_lecon_path(lecon) %></td>
        <td><%= link_to 'Destroy', lecon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecon', new_lecon_path %>
