<%= simple_form_for(@eleve_formule) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :eleveId %>
    <%= f.input :formuleId %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
