<p id="notice"><%= notice %></p>

<p>
  <strong>Eleveid:</strong>
  <%= @eleve_formule.eleveId %>
</p>

<p>
  <strong>Formuleid:</strong>
  <%= @eleve_formule.formuleId %>
</p>

<%= link_to 'Edit', edit_eleve_formule_path(@eleve_formule) %> |
<%= link_to 'Back', eleve_formules_path %>
