<p id="notice"><%= notice %></p>
<%if user_signed_in? %> 
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @user.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @user.prenom %>
</p>

<p>
  <strong>Surnom:</strong>
  <%= @user.surnom %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @user.addr %>
</p>

<p>
  <strong>CP:</strong>
  <%= @user.cp %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @user.ville %>
</p>

<p>
  <strong>Date de Naissance:</strong>
  <%= @user.dateNaiss %>
</p>

<p>
  <strong>Telephone Fixe:</strong>
  <%= @user.telFixe %>
</p>

<p>
  <strong>Telephone Mobile:</strong>
  <%= @user.telMobile %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% end %>
