<p id="notice"><%= notice %></p>

<h1>Listing Passage Exams</h1>

<table>
  <thead>
    <tr>
      <th>Examan</th>
      <th>User</th>
      <th>Resultat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passage_exams.each do |passage_exam| %>
      <tr>
        <td><%= passage_exam.examan_id %></td>
        <td><%= passage_exam.user_id %></td>
        <td><%= passage_exam.resultat %></td>
        <td><%= link_to 'Show', passage_exam %></td>
        <td><%= link_to 'Edit', edit_passage_exam_path(passage_exam) %></td>
        <td><%= link_to 'Destroy', passage_exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Passage exam', new_passage_exam_path %>
