<p id="notice"><%= notice %></p>

<p>
  <strong>Examan:</strong>
  <%= @passage_exam.examan_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @passage_exam.user_id %>
</p>

<p>
  <strong>Resultat:</strong>
  <%= @passage_exam.resultat %>
</p>

<%= link_to 'Edit', edit_passage_exam_path(@passage_exam) %> |
<%= link_to 'Back', passage_exams_path %>
