<p id="notice"><%= notice %></p>

<h1>Listing Lecon Codes</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Heure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecon_codes.each do |lecon_code| %>
      <tr>
        <td><%= lecon_code.id %></td>
        <td><%= lecon_code.date %></td>
        <td><%= lecon_code.heure %></td>
        <td><%= link_to 'Show', lecon_code %></td>
        <td><%= link_to 'Edit', edit_lecon_code_path(lecon_code) %></td>
        <td><%= link_to 'Destroy', lecon_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecon code', new_lecon_code_path %>
