<p id="notice"><%= notice %></p>

<h1>Listing Formules</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Price</th>
      <th>Nbticket</th>
      <th>Priceticket</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formules.each do |formule| %>
      <tr>
        <td><%= formule.id %></td>
        <td><%= formule.description %></td>
        <td><%= formule.price %></td>
        <td><%= formule.nbTicket %></td>
        <td><%= formule.priceTicket %></td>
        <td><%= formule.user_id %></td>
        <td><%= link_to 'Show', formule %></td>
        <td><%= link_to 'Edit', edit_formule_path(formule) %></td>
        <td><%= link_to 'Destroy', formule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formule', new_formule_path %>
