<p id="notice"><%= notice %></p>

<h1>Listing Formules</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Nbtickets</th>
      <th>Puticket</th>
      <th>Prix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formules.each do |formule| %>
      <tr>
        <td><%= formule.nom %></td>
        <td><%= formule.description %></td>
        <td><%= formule.nbTickets %></td>
        <td><%= formule.puTicket %></td>
        <td><%= formule.prix %></td>
        <td><%= link_to 'Show', formule %></td>
        <td><%= link_to 'Edit', edit_formule_path(formule) %></td>
        <td><%= link_to 'Destroy', formule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formule', new_formule_path %>
