<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @formule.id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @formule.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @formule.price %>
</p>

<p>
  <strong>Nbticket:</strong>
  <%= @formule.nbTicket %>
</p>

<p>
  <strong>Priceticket:</strong>
  <%= @formule.priceTicket %>
</p>

<p>
  <strong>User:</strong>
  <%= @formule.user_id %>
</p>

<%= link_to 'Edit', edit_formule_path(@formule) %> |
<%= link_to 'Back', formules_path %>
