<p id="notice"><%= notice %></p>

<h1>Listing Users Formules</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Formule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_formules.each do |users_formule| %>
      <tr>
        <td><%= users_formule.user_id %></td>
        <td><%= users_formule.formule_id %></td>
        <td><%= link_to 'Show', users_formule %></td>
        <td><%= link_to 'Edit', edit_users_formule_path(users_formule) %></td>
        <td><%= link_to 'Destroy', users_formule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users formule', new_users_formule_path %>
