<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @examan.id %>
</p>

<p>
  <strong>Dateexam:</strong>
  <%= @examan.dateExam %>
</p>

<p>
  <strong>Type:</strong>
  <%= @examan.type %>
</p>

<%= link_to 'Edit', edit_examan_path(@examan) %> |
<%= link_to 'Back', examen_path %>
