<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @examan.type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @examan.date %>
</p>

<%= link_to 'Edit', edit_examan_path(@examan) %> |
<%= link_to 'Back', examen_path %>
