<p id="notice"><%= notice %></p>

<p>
  <strong>Numvoiture:</strong>
  <%= @car.numVoiture %>
</p>

<p>
  <strong>Immatriculation:</strong>
  <%= @car.immatriculation %>
</p>

<p>
  <strong>Marque:</strong>
  <%= @car.marque %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
