<%= simple_form_for(@users_examen) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :examen_id %>
    <%= f.input :user_id %>
    <%= f.input :passer %>
    <%= f.input :score %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
